<section class="container">
<h1>Perform</h1>

<form method="POST" action="/auth/signup-perform">
 <div>
   <label>Email</label>
   <input type="email" name="email" />
 </div>

 
 <div>
   <label>Password</label>
   <input type="password" name="password" />
 </div>

<div>
   <label>Band/Artist Name </label>
   <input type="string" name="bandName"/>
 </div>

 

<div>
  <label for="genre" >Choose a music genre:</label>
    <select id="music-select" name="genre">
      <option value="rock">Rock</option>
      <option value="jazz">Jazz</option>
      <option value="hip-hop">Hip-Hop</option>
      <option value="pop">Pop</option>
      <option value="country">Country</option>
      <option value="metal">Metal</option>
      <option value="classic">Classic</option>
      <option value="electronic">Electronic</option>
      <option value="blues">Blues</option>
      <option value="rnb">RnB</option>
    </select>
</div>

 <div>
   <label>Social Media Link:</label>
   <input type="media_type" name="socialMediaLink"/>
 </div>


 <div class="field submit">
   <button type="submit">Create Profile</button>
 </div>
</form>

{{#if messages.length}}
<ul class="validation">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
</section>