<section class="section-height host-list-section">
  <h2>This is your Hosts List</h2>
  <hr>
  {{#each users}}
  <div class="host-list-card">
    <div><img src="" alt="Living Room"></div> 
    <div>
      <p>Email: {{this.email}}</p>
      <p>City: {{this.host.city}}</p>
      <p>Room Capacity: {{this.host.roomCapacity}}</p>
    </div>
    <form method="POST" action="/lists/host-list/{{this._id}}">
      <div class="field submit">
        <button type="submit">Book</button>
      </div>
    </form>
  </div>
  {{/each}}

</section>