<nav>
  <div class="logo-nav">
    <a href="/" class="logo-link"><img src="/images/Foto-logo-Nextstage-2.png" alt="LOGO"></a>
  </div>

<div class="bar-container" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

  <ul class="menu">

    {{#unless currentUser}}
    <div class="signup-div">
      <li><a class="signup-link" href="/auth/signup">Sign up</a></li> 
      <li><a class="signup-link" href="/auth/signup-host">Host</a></li>
      <li><a class="signup-link" href="/auth/signup-perform">Perform</a></li>
      <li><a class="signup-link" href="/auth/login">Log in</a></li>
    </div>
    
    {{else}}
    <div>
      <li><a class="signup-link" href="/">Home</a></li>
      <li><a class="signup-link" href="/users/profiles/my-profile">My profile</a></li>
      <li><a class="signup-link" href="/#events">Events</a></li>
      <li><a class="signup-link" href="/lists/host-list">Hosts List</a></li>
      
    
      <li>
        <form action="/auth/logout" method="POST">
          <button class="logout-button" type="submit">Log out</button>
        </form>
      </li>
    </div>
    {{/unless}}

  </ul>
</nav>

