<section class="container">

<h1 class="h1-profile">Welcome to Your Profile, {{currentUser.artist.bandName}}</h1>

<section class="section-profile">
    <p class="p-profile">Email: {{currentUser.email}}</p>
    <p class="p-profile">Band name: {{currentUser.artist.bandName}}</p>
    <p class="p-profile">Genre: {{currentUser.artist.genre}}</p>
</section>

<section class="section-request">
  <a href="/lists/my-requests-list">See Your Requests</a>

</section>
</section>

