<h1>Perform</h1>

<form method="POST" action="/auth/signup">
 <div>
   <label>Email</label>
   <input type="email" name="email" required/>
 </div>

 
 <div>
   <label>Password</label>
   <input type="password" name="password" required/>
 </div>

 

 <div>
   <label>Category:</label>
   <input type="number" name="room-capacity" required/>
 </div>

 <div>
   <label>Facebook Profile Link:</label>
   <input type="media_type" name="room-capacity" required/>
 </div>

<div>
   <label>Instagram Profile Link:</label>
   <input type="media_type" name="room-capacity" required/>
 </div>

<div>
   <label>Youtube Profile Link:</label>
   <input type="media_type" name="room-capacity" required/>
 </div>

 <div class="field submit">
   <button type="submit">Create Profile</button>
 </div>
</form>