<nav>
  <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Log in</a></li>
    <li><a href="/auth/signup-host">Host</a></li>
    <li><a href="/auth/signup-perform">Perform</a></li>
    <li><a href="/">Log out</a></li>
    
  </ul>
</nav>