<nav>
  <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/">Log in</a></li>
    <li><a href="/">Host</a></li>
    <li><a href="/">Perform</a></li>
    <li><a href="/">Log out</a></li>
    
  </ul>
</nav>