


<div class="header-block">
    <div class="container">
        <h1><strong>Find live shows in <span class="typed-string"></span></strong></h1>
        <h2>Enjoy performances around the world for free.</h2>
    </div>
            <div>
                <a href=""><strong>check events</strong></a>
            </div>
</div>
<section class="container">
    <div>
        <h2>How it works</h2>
        <p>We hold intimate gigs in unique places, like somone's living room or vintage shop</p>

        <div>
            <div>
                <h4>1. Get Your Tickets for Free </h4>
                <p>Select location, date and genre. You won't know the name of the artist until the day of the event.</p>
            </div>
            <div>
                <h4>2.Discover the Performer</h4>
                <p>The day before the event you will receive an email with the name of the performer.</p>
            </div>
            <div>
                <h4>3. Enjoy Live Shows</h4>
                <p>Come along and enjoy a great show.</p>
            </div>
        </div>
    </div>
</section>
<section class="container">
  
        <h2>Upcoming Events</h2>
         <article>
        <div>
            <img>
            <h4>Show in Barcelona</h4>
            <p>Date and time: Dec 12 2018, 9:00 pm </p>
             <p>Address: Carrer de Sant Pere Mitjà, 48, 08001</p>
            <p>Tickets available: 21</p>
            <p>Genre: RnB</p>
             <a href="">Attend</a>
        </div>
    </article>
    <article>
        <div>
             <img>
            <h4>Show in Madrid</h4>
                <p>Date and time: Dec 3rd 2018, 8:00pm</p>
                <p>Address: Calle de José Ortega y Gasset, 67-57, 28006</p>
                <p>Tickets available: 15</p>
                <p>Genre: Rock</p>
        </div>
        <a href="">Attend</a>
    </article>
    <article>
        <div>
            <img>
            <h4>Show in Barcelona</h4>
                <p>Date and time: Dec 12 2018, 9:00 pm </p>
                <p>Address: Carrer de Sant Pere Mitjà, 48, 08001</p>
                <p>Tickets available: 21</p>
                <p>Genre: Rock</p>
                        <form action="/events/{{this._id}}/attend" method="POST">
                            <button type="submit">Attend</button>
                        </form>
         </div>
    </article>

    <article>
        <div>
            <img>
            <h4>Show in London</h4>
                <p>Date and time: Jan 21 2019, 9:00 pm </p>
                <p>Address: Porchester Square 34, the Colonnades 192, W27AR</p>
                <p>Tickets available: 18</p>
                <p>Genre: RnB</p>
             <a href="">Attend</a>
        </div>
    </article>
  
</section>
<script>
  var typed = new Typed('.typed-string', {
    strings: ["Barcelona","Madrid", "London", "Paris"],
    typeSpeed: 100,
    backspeed: 40,
    backDelay: 1000,
    loop: true
  });
</script>
