/* ---- reset ---- */

html {
  box-sizing: border-box;
  background-color: #FFFCFC;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  padding-top: 6%;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 110%;
  font-weight: 400;
  line-height: 150%;
  color: #343a40;
}

h1 {
  font-size: 36px;
  line-height: 50px;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  color: #343a40;
  
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 120%;
}

form label {
  color: #343a40;
}

p {
  margin: 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

.signup-link {
  color: rgb(245, 239, 239);
  font-size: 200%;
}


/* ---- layout ---- */

.header-block {
  background-image: url('/images/efe-kurnaz-315384-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding-top: 10%;

}
.header-block h2{
  color: #F8F9F9 ;
  text-align: center;
  font-size: 24px;
}

.header-block h1{
  color: #F8F9F9 ;
  text-align: center;
  font-weight: bold;
}

.header-block a {
  color: #F8F9F9;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px 4px 40px 4px;
  width: 60%;
  padding: 20px 20px;
  display: block;
  background-color:  #00A6FF;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
#site-header {
  padding: 30px 0;
}

#site-footer {
  color: #F8F9F9;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 17% auto;
  width:90%;
  text-align: center;
}

main{
  padding-top: 70px;
  padding-bottom: 70px;
}

.section {
  margin-bottom: 10px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .header-block div {
    width: 100%;
}

.section-profile {
  width: 50%;
}
}

.signup-link {
  margin: 10% auto;
}

.signup-div {
  text-align: center;
  margin: auto;
}

.auto-type{
  width: 81%;
  margin: 10% auto;
}

.host-list-personal-info {
  margin: 0 5%;
  text-align: left;
}


hr {
  border: 0.5px solid rgba(52, 58, 64, 0.5);
  width: 60%;
  margin: 10% auto;
}

.section-height {
  min-height: 100vh;
  padding-top: 15px;
}

.logo-nav {
  width: 35%;
}

.attendee-profile {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.icons-layout {
  width: 50%;
}

.stage-image {
  margin-top: 40px;
}

.ticket-image {
  margin-top: 20px;
}

.attendee-events {
  box-shadow: 0 0 48px -8px;
  text-align: left;
  padding: 5%;
}

.host-list-card {
  text-align: center;
  width: 90%;
  margin: 10% auto;
  box-shadow: 0 0 48px -8px;
  border-radius: 10px;
}

.host-list-section {
  text-align: center;
  padding-top: 30px;
}

.upcoming-events-card {
  box-shadow: 0 0 48px -8px;
  margin: 20px auto;
  padding-bottom: 10px;
}

.upcoming-events-card-info {
  text-align: left;
  margin-left: 8%;
}

.event-title {
  margin: 0 auto;
}

.attend-button {
  background-color: #00A6FF;
  border: none;
  border-radius: 40px 4px 40px 4px;
  width: 70%;
  height: 50px;
  margin: 5% 0;
  color: #F8F9F9;
  font-weight: bold;
  font-size: 110%;
}

.request-section-layout {
  text-align: center;
  margin-top: 20px;
}

.hr-your-requests {
  margin: 5% auto;
}

.requests-card {
  box-shadow: 0 0 48px -8px;
  padding: 5% 0;
  width: 90%;
  margin: auto;
}

.signup-link-loginpage{
  text-decoration: none;
  color: #00A6FF;
  font-weight: bold;
}

img {
  width: 100%;
}



/* ---- components ---- */
header {
  background-color:#F8F9F9;;
  border-bottom: 1px solid rgb(170, 168, 168);
  position: fixed;
  width: 100vw;
  top: 0;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  background:#343a40;
  grid-column-start: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
}

.logo-link {
  display: flex;
}
nav a{
  text-decoration:none; 
  display: inline-block;
}

nav ul{
  display: flex;
  justify-content: flex-end;
}

nav img{
  width: 100%;
  height: 100%;
}

.upload-pics-form {
  width: 100%;
}

.upload-pics-input{
  width: 80%;
}

.host-list-info-layout {
  padding: 5% 0;
}

.requests-card-info {
  text-align: left;
  padding-left: 8%;
}

.already-registered {
  color: rgb(31, 187, 31);
  font-weight: bold;
  margin-bottom: 10px;
}

/* BURGER MENU */


.bar-container {
  display: inline-block;
  cursor: pointer;
  margin-right: 4%;
  z-index: 1;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #F8F9F9;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  /* display: none; */
  position: absolute;
  top: -525px;
  z-index: 0;
  width: 100%;
}


.menu.visible{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -26px;
  justify-content: center;
  right: 0;
  background: #00A6FF;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  transition: all 0.4s;
  font-size: 19px;
  z-index: 0;
  text-align: center;
}

.your-host-profile {
  color: #343a40;
}

.request-sent {
  color: rgb(31, 187, 31);
  font-weight: bold;
  margin: 10px auto 30px auto;
}


/* -- FORMS -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
  margin-bottom: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
}

form input {
  margin: 2%;
  font-size: 16px;
  margin-bottom: 14px;
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #343a40;
}

.validation {
  margin: 5px 0 10px;
  color: red;
  font-weight: bolder;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}

/* ---- section ---- */

/* ---- layout:  FOOTER ---- */
  
.footer {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.63);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-top: 1px solid rgb(170, 168, 168); 
  width: 100vw;
  bottom: 0;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;
}



/* ---- LOGIN ---- */



/* -- BUTTONS -- */

/*

.button {
  width: 88%;
  background-color: #00A6FF;
  color: #fff;
  border: 1px solid #fff
}
*/

form .submit button {
  padding: 12px 20px;
  text-align: center;
  font-size: 18px;
  background-color: #00A6FF;
  cursor: pointer;
  border-radius: 20px 4px 20px 4px;
  border: none;
  color: #f5f5f5;
  font-weight: bold;
  width: 50%;
  margin-top: 5%;
}

.logout-button {
  border: none;
  background-color: rgba(0,166,255, 0.05);
  color: rgb(245, 239, 239);
  font-size: 200%;
  padding: 0;
  margin-top: 30%;
}


  /* ARTIST and HOST PROFILE */

  .h1-profile {
    font-size: 36px;
    line-height: 50px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
  }

  .p-profile {
    margin: 5%;
    border: 2px solid rgb(236, 233, 233);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
  }

  .section-profile {
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
  }

  .section-request {
    padding-top: 30px;
  }

  /*----buttons---*/

  .see-events-button {
    font-size: 120%;
  }

  .submit-button-host{
    padding: 12px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #00A6FF;
    cursor: pointer;
    border-radius: 20px 4px 20px 4px;
    border: none;
    color: #f5f5f5;
    font-weight: bold;
    width: 50%;
  }

  .host-button-requests {
    border: none;
    border-radius: 20px 4px 20px 4px;
    background-color: #00A6FF;
    width: 50%;
    height: 47px;
    font-weight: bold;
    margin: 20px auto;
    padding-top: 3%;
  }

  .alink-button {
  text-decoration: none;
  color: #f5f5f5;
  }

  #accept-request {
    margin-bottom: 10px;
    padding: 0;

  }

  #decline-request {
    margin-bottom: 10px;
    padding: 0;
  }

  .checkevents-button {
    background-color: #00A6FF;
    width: 60%;
    margin: 20px auto;
    height: 50px;
    border-radius: 40px 4px;
    padding-top: 9px;
  }

  .checkevents-link {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    margin-top: 10px;
  }

  .upload-image-button {
    background-color: #00A6FF;
    width: 60%;
    margin: 20px auto;
    height: 50px;
    border-radius: 40px 4px;
    padding-top: 9px;
    border: none;
    color: #f5f5f5;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 100%;
  }

  .upload-pics-input {
    border: 2px solid #00A6FF;
  }
