<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <h2>Find live show in Barcelona</h2>
    <button type="submit">See events</button>
</div>

<div>
    <h2>How it works</h2>
    <p>We hold intimate gigs in unique places, like somone's living room or vintage shop</p>

    <div>
        <div>
            <h4>1.- Get tickets it's free! Select location, date and genre</h4>
            <p>You won't know the name of the artist until the day of the event.</p>
        </div>
        <div>
            <h4>2.- Discover the performer.</h4>
            <p>The day before you will recive an email with the name of the performer.</p>
        </div>
        <div>
            <h4>Enjoy live shows!</h4>
            <p>Come to the event, bring some food, drinks and enjoy a great show.</p>
        </div>
    </div>
</div>

<div>
    <h2>Upcoming Events</h2>
    <div>
        <h4>Show in London</h4>
        <p>Date and time:</p>
        <p>Tickets available:</p>
    </div>

    <div>
        <h4>Show in Rome</h4>
        <p>Date and time:</p>
        <p>Tickets available:</p>
    </div>
    
</div>