<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="../images/Logo abreviado.png" type="image/x-icon">
  </head>

  <body>
    {{> navbar}}
    <main class="container">
      {{{body}}}
    </main>
    
    <footer class="footer">&copy; 2018 - Nextstage</footer>
    <script>
    const menu = document.querySelector(".menu")
    console.log(menu)
    function myFunction(x) {
        x.classList.toggle("change");
        menu.classList.toggle("visible");    
    }
  </script>
  </body>
</html>
