<h1>Welcome to a host Profile</h1>
<!--
<form method="POST" action="/auth/login">
 <div>
   <label>City</label>
   <input type="email" name="email"/>
 </div>

 <div>
   <label>Password</label>
   <input type="password" name="password"/>
 </div>


 <div class="field submit">
   <button type="submit">Login</button>
 </div>
</form>

-->

<section>
    <p>Email: {{user.email}}</p>
    <p>City</p>
    <p>Address</p>
    <p>Phone Number</p>
    <p>Room Capacity</p>
</section>