<section>
  {{#each users}}
  <div>
    <div><img src="" alt="Living Room"></div> 
    <div>
      <p>Email: {{this.email}}</p>
      <p>City: {{this.host.city}}</p>
      <p>Room Capacity: {{this.host.roomCapacity}}</p>
    </div>
  </div>
  {{/each}}

</section>